main {
  height: 200vh;
}

.vertical {
  border-left: 1px solid rgb(65, 65, 65);
  left: 50%;
  width: 0px;
  position: relative;
}

.square {
  width: 12px;
  height: 12px;
  background-color: rgb(163, 230, 53);
  transform: rotate(45deg);
}

.square--active {
}